<div class='container notifications-index'>
  <div class='row my-5'>
    <div class='col-11 notifications-field'>
      <div class='text-center notifications-header'>
        <h3 class='my-2 '><%= t '.notification' %></h3>
      </div>
      <% if @notifications.empty? %>
        <p class='mt-3'><%= t '.no_notification' %></p>
      <% else %>
        <table class='table table-borderless'>
          <tbody>
            <tr>
              <th>
                <%= link_to (t '.destroy_all'), user_notifications_path, method: :delete %>
              </th>
            </tr>
            <% @notifications.each do |notification| %>
              <tr>
                <% if notification.action == 'favorite' %>
                <!--投稿にいいねされた時の通知-->
                  <td>
                    <p class='mb-0'><%= link_to "#{notification.sender.name}", user_path(notification.sender_id) %>
                      <%= t '.sender' %>
                      <%= link_to (t '.my_post'), post_path(favorited_post(notification.favorite_id)) %>
                      <%= t '.favorite' %>
                      <%= t '.ago', ago: time_ago_in_words(notification.created_at) %>
                    </p>
                  </td>
                  <td>
                    <%= link_to (t '.destroy'), user_notification_path(id: notification.id), method: :delete, class: 'btn btn-danger' %>
                  </td>
                <% elsif notification.action == 'post_comment'%>
                <!--投稿にコメントされた時の通知-->
                  <td>
                    <p class='mb-0'><%= link_to "#{notification.sender.name}", user_path(notification.sender_id) %>
                      <%= t '.sender' %>
                      <%= link_to (t '.my_post'), post_path(commented_post(notification.post_comment_id)) %>
                      <%= t '.post_comment' %>
                      <%= t '.ago', ago: time_ago_in_words(notification.created_at) %>
                    </p>
                  </td>
                  <td>
                    <%= link_to (t '.destroy'), user_notification_path(id: notification.id), method: :delete, class: 'btn btn-danger' %>
                  </td>
                <% elsif notification.action == 'relationship' %>
                <!--フォローされた時の通知-->
                  <td>
                    <p class='mb-0'>
                      <%= link_to "#{notification.sender.name}", user_path(notification.sender_id) %>
                      <%= t '.sender' %>
                      <%= t '.follow' %>
                      <%= t '.ago', ago: time_ago_in_words(notification.created_at) %>
                    </p>
                  </td>
                  <td>
                    <%= link_to (t '.destroy'), user_notification_path(id: notification.id), method: :delete, class: 'btn btn-danger' %>
                  </td>
                <% elsif notification.action == 'post' %>
                <!--フォローしているユーザーが投稿した時-->
                  <td>
                    <p class='mb-0'>
                      <%= link_to "#{notification.sender.name}", user_path(notification.sender_id) %>
                      <%= t '.sender' %>
                      <%= link_to (t '.new_post'), post_path(notification.post_id) %>
                      <%= t '.ago', ago: time_ago_in_words(notification.created_at) %>
                    </p>
                  </td>
                  <td>
                    <%= link_to (t '.destroy'), user_notification_path(id: notification.id), method: :delete, class: 'btn btn-danger' %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class='col-12 mb-3 d-flex justify-content-center'>
          <%= paginate @notifications %>
        </div>
      <% end %>
    </div>
  </div>
</div>