<div class='container users-edit w-100'>
  <%= render 'shared/error', model: @user %>
  <%= form_with model: @user, local: true do |f| %>
  <div class='row mt-5'>
    <div class='input-form mx-auto'>
      <div class='form-heading my-4 mx-auto w-75 text-center h3'><%= t '.profile' %></div>

      <!--ユーザー名-->
      <div class='form-group mx-4 mt-5 mb-4'>
        <%= f.label :name %><br>
        <%= f.text_field :name%>
      </div>
      <!--プロフィール画像-->
      <div class='form-group mx-4 mt-5 mb-4'>
        <%= f.label :profile_image_id %><br>
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%><br>
        <%= f.attachment_field :profile_image, class: 'image-field'%>
      </div>
      <!--プロフィール文-->
      <div class='form-group introduction mx-4 mt-5 mb-4'>
        <%= f.label :introduction %><br>
        <%= f.text_area :introduction, cols: 30, rows: 5 %>
      </div>

      <!--記録作成ボタン-->
      <div class='form-group d-flex justify-content-center'>
        <%= f.submit '書いた内容を消す', type: 'reset', class: 'mr-3 btn btn-danger' %>
        <%= f.submit (t '.edit'), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<script>
  if (<%= @user.name %> == 'ゲストユーザー'){
    $('input').attr('readonly');
  };
</script>