<div class='mr-2 sort'>
  <% if current_page?(posts_path) %>
    <%= form_with url: posts_path, method: :get, id: 'sort-form', local: true do |f| %>
      <%= f.select :sort, sort_array, { include_blank: (t '.sort') }, id: 'sort' %>
    <% end %>
  <% else %>
    <%= form_with url: user_path(user.id), method: :get, id: 'sort-form', local: true do |f| %>
      <%= f.hidden_field :user_id, :value => user.id %>
      <%= f.select :sort, sort_array, { include_blank: (t '.sort') }, id: 'sort' %>
    <% end %>
  <% end %>
</div>