<div class='row d-flex justify-content-end flex-wrap'>
  <!--ソート-->
    <% if current_page?(posts_path)  || current_page?(posts_title_search_path) %>
      <!--投稿一覧ページ、もしくは投稿一覧のタイトル検索ページだったら-->
      <%= form_with url: posts_path, method: :get, id: 'sort-form', local: true do |f| %>
        <%= f.select :sort, sort_array, { include_blank: (t '.sort') }, id: 'sort' %>
      <% end %>
    <% elsif current_page?(posts_genre_search_path) %>
      <!--投稿一覧のジャンル検索ページだったら-->
      <%= form_with url: posts_path, method: :get, id: 'sort-form', class: 'mr-3', local: true do |f| %>
        <%= f.select :sort, sort_array, { include_blank: (t '.sort') }, id: 'sort' %>
      <% end %>
    <% else %>
    <!--ユーザ詳細ページだったら-->
      <%= form_with url: user_path(user.id), method: :get, id: 'sort-form', class: 'mr-3', local: true do |f| %>
        <%= f.hidden_field :user_id, :value => user.id %>
        <%= f.select :sort, sort_array, { include_blank: (t '.sort') }, id: 'sort' %>
      <% end %>
    <% end %>

  <!--ジャンル検索-->
    <% if current_page?(posts_path) || current_page?(posts_title_search_path) %>
    　<!--投稿一覧ページ、もしくは投稿一覧のタイトル検索ページだったら-->
      <%= form_with url: posts_genre_search_path, method: :get, id: 'genre-search-form', local: true do |f| %>
        <%= f.select :genre, genre_search_array, { include_blank: (t '.genre_search') }, id: 'select' %>
      <% end %>
    <% elsif current_page?(posts_genre_search_path) %>
    <!--投稿一覧のジャンル検索ページだったら-->
      <%= form_with url: posts_genre_search_path, method: :get, id: 'genre-search-form', class: 'mr-3', local: true do |f| %>
        <%= f.select :genre, genre_search_array, { include_blank: (t '.genre_search') }, id: 'select' %>
      <% end %>
    <% else %>
      <!--ユーザ詳細ページだったら-->
      <%= form_with url: user_genre_search_path(user.id), method: :get, id: 'genre-search-form', class: 'mr-3', local: true do |f| %>
        <%= f.hidden_field :user_id, :value => user.id %>
        <%= f.select :genre, genre_search_array, { include_blank: (t '.genre_search') }, id: 'select' %>
      <% end %>
    <% end %>

  <!--ゲームタイトル検索-->
    <% if current_page?(posts_path) || current_page?(posts_title_search_path) || current_page?(posts_title_search_path) %>
    　<!--投稿一覧ページだったら-->
      <%= form_with url: posts_title_search_path, method: :get, local: true, class: 'd-flex align-items-end mb-1 mr-3' do |f| %>
        <%= f.text_field :keyword, size: 18, placeholder: (t '.title_search') %>
        <%= f.submit (t '.search'), class: 'btn btn-success btn-sm ml-2' %>
      <% end %>
    <% else %>
      <!--ユーザ詳細ページだったら-->
      <%= form_with url: user_title_search_path(user.id), method: :get, local: true, class: 'd-flex align-items-end mb-1 mr-3' do |f| %>
        <%= f.hidden_field :user_id, :value => user.id %>
        <%= f.text_field :keyword, size: 18, placeholder: (t '.title_search') %>
        <%= f.submit (t '.search'), class: 'btn btn-success btn-sm ml-2' %>
      <% end %>
    <% end %>
</div>
