<div class='container'>
  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <div class='row my-5'>
      <div class='col-10 col-md-6 col-lg-5 col-xl-4 p-0 sign-up-in-form'>
        <div class='my-4 mx-auto text-center form-heading'>
          <h3><%= t '.sign_in' %></h3>
          </div>
        <!--メールアドレス入力フォーム-->
        <div class='form-group text-center mt-4'>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <!--パスワード入力フォーム-->
        <div class='form-group text-center'>
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: 'new-password' %>
        </div>
        <!--ログインボタン-->
        <div class='text-center mt-4'>
          <%= f.submit t('.sign_in'), class: 'btn btn-info' %>
        </div>
        <!--新規登録画面へのリンク-->
        <div class='text-center mt-4'>
          <div class='sign-link'>
            <%= link_to (t '.sign_up_link'), new_user_registration_path %>
          </div>
          <div class='sign-link mb-4'>
            <%= link_to (t '.guest_sign_in_link'), homes_guest_sign_in_path %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
