<div class='col-12 d-flex flex-wrap'>
  <% posts.each do |post| %>
      <div class='ml-3 mb-5 posts-list'>

      <!--ゲームタイトル-->
      <div class='form-inline d-flex align-items-center mt-3 text-truncate title-field'>
        <%= link_to post_path(post.id), class: 'col-12 text-truncate' do %>
          <strong><%= post.title %></strong>
        <% end %>
      </div>
      <!--ジャンル-->
      <div class='form-inline d-flex align-items-center my-3 genre-field'>
        <strong class='col-12'><%= post.genre.name %></strong>
      </div>
      <!--評価-->
      <%= render 'posts/score_read_only', post: post %>
      <!--いいね-->
      <div class='col-7 offset-5 mb-2'>
        <%= render 'favorites/favorite_btn', post: post %>
      </div>
      <!--投稿者名-->
      <div class='col-7 offset-4 mb-2'>
      　<%= t '.posted_user', user_name: post.user.name %>
      </div>
      <!--投稿日-->
      <div class='col-8 offset-4 mb-3'>
      　<%= t '.posted_date' %><%= post.created_at.strftime('%Y-%m-%d') %>
      </div>
      </div>
  <% end %>
</div>
<div class='mx-auto pagenate-label'>
  <%= paginate posts %>
</div>