<div class='col-12 p-0 score-group '>
    <!--総合評価-->
    <div class='d-flex flex-wrap justify-content-end score-list'>
      <label class='col-10 col-sm-5 offset-sm-1'><%= t '.total_score' %></label>
      <div class='col-10 col-sm-6 score-star' id='total-score'></div>
    </div>
    <!--ストーリー評価-->
    <div class='d-flex flex-wrap justify-content-end score-list'>
      <label class='col-10 col-sm-5 offset-sm-1'><%= t '.story_score' %></label>
      <div class='col-10 col-sm-6 score-star' id='story-score'></div>
    </div>
    <!--グラフィック評価-->
    <div class='d-flex flex-wrap justify-content-end score-list'>
      <label class='col-10 col-sm-5 offset-sm-1'><%= t '.graphic_score' %></label>
      <div class='col-10 col-sm-6 score-star' id='graphic-score'></div>
    </div>
    <!--サウンド評価-->
    <div class='d-flex flex-wrap justify-content-end score-list'>
      <label class='col-10 col-sm-5 offset-sm-1'><%= t '.sound_score' %></label>
      <div class='col-10 col-sm-6 score-star' id='sound-score'></div>
    </div>
    <!--操作性評価-->
    <div class='d-flex flex-wrap justify-content-end score-list'>
      <label class='col-10 col-sm-5 offset-sm-1'><%= t '.operability_score' %></label>
      <div class='col-10 col-sm-6 score-star' id='operability-score'></div>
    </div>
    <!--ゲームバランス評価-->
    <div class='d-flex flex-wrap justify-content-end mb-2 score-list'>
      <label class='col-10 col-sm-5 offset-sm-1'><%= t '.balance_score' %></label>
      <div class='col-10 col-sm-6 score-star' id='balance-score'></div>
    </div>
  </div>

  <script>
    $('.score-star').empty();
    $('#total-score').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: <%= post.total_score.to_f %>,
      scoreName: 'post[total_score]'
    });


    $('#story-score').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: <%= post.story_score.to_f %>,
      scoreName: 'post[story_score]'
    });

    $('#graphic-score').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: <%= post.graphic_score.to_f %>,
      scoreName: 'post[graphic_score]'
    });

    $('#sound-score').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: <%= post.sound_score.to_f %>,
      scoreName: 'post[sound_score]'
    });

    $('#operability-score').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: <%= post.operability_score.to_f %>,
      scoreName: 'post[operability_score]'
    });

    $('#balance-score').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: <%= post.balance_score.to_f %>,
      scoreName: 'post[balance_score]'
    });
  </script>
