<div class='rate-group mx-auto'>
    <!--総合評価-->
    <div class='form-group d-flex align-items-center total-score'>
      <%= f.label :total_score, class: 'col-4 offset-1' %>
    </div>
    <!--ストーリー評価-->
    <div class='form-group d-flex align-items-center story-score'>
      <%= f.label :story_score, class: 'col-4 offset-1' %>
    </div>
    <!--グラフィック評価-->
    <div class='form-group d-flex align-items-center graphic-score'>
      <%= f.label :graphic_score, class: 'col-4 offset-1' %>
    </div>
    <!--サウンド評価-->
    <div class='form-group d-flex align-items-center sound-score'>
      <%= f.label :sound_socre, class: 'col-4 offset-1' %>
    </div>
    <!--操作性評価-->
    <div class='form-group d-flex align-items-center operability-score'>
      <%= f.label :operability_score, class: 'col-4 offset-1' %>
    </div>
    <!--ゲームバランス評価-->
    <div class='form-group d-flex align-items-center balance-score'>
      <%= f.label :balance_score, class: 'col-4 offset-1' %>
    </div>
  </div>

<!--総合評価-->
<script>
  $('.total-score').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'post[total_score]'
  });
</script>
<!--ストーリー評価-->
<script>
  $('.story-score').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'post[story_score]'
  });
</script>
<!--グラフィック評価-->
<script>
  $('.graphic-score').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'post[graphic_score]'
  });
</script>
<!--サウンド評価-->
<script>
  $('.sound-score').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'post[sound_socre]'
  });
</script>
<!--操作性評価-->
<script>
  $('.operability-score').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'post[operability_score]'
  });
</script>
<!--ゲームバランス評価-->
<script>
  $('.balance-score').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'post[balance_score'
  });
</script>