<div class='col-12 p-0 score-group '>
    <!--総合評価-->
    <div class='d-flex flex-wrap justify-content-end score-list'>
      <label class='col-10 col-sm-5 offset-sm-1'><%= t '.total_score' %></label>
      <div class='col-10 col-sm-6' id='total-score-<%= post.id %>'></div>
    </div>
    <!--ストーリー評価-->
    <div class='d-flex flex-wrap justify-content-end score-list'>
      <label class='col-10 col-sm-5 offset-sm-1'><%= t '.story_score' %></label>
      <div class='col-10 col-sm-6' id='story-score-<%= post.id %>'></div>
    </div>
    <!--グラフィック評価-->
    <div class='d-flex flex-wrap justify-content-end score-list'>
      <label class='col-10 col-sm-5 offset-sm-1'><%= t '.graphic_score' %></label>
      <div class='col-10 col-sm-6' id='graphic-score-<%= post.id %>'></div>
    </div>
    <!--サウンド評価-->
    <div class='d-flex flex-wrap justify-content-end score-list'>
      <label class='col-10 col-sm-5 offset-sm-1'><%= t '.sound_score' %></label>
      <div class='col-10 col-sm-6' id='sound-score-<%= post.id %>'></div>
    </div>
    <!--操作性評価-->
    <div class='d-flex flex-wrap justify-content-end score-list'>
      <label class='col-10 col-sm-5 offset-sm-1'><%= t '.operability_score' %></label>
      <div class='col-10 col-sm-6' id='operability-score-<%= post.id %>'></div>
    </div>
    <!--ゲームバランス評価-->
    <div class='d-flex flex-wrap justify-content-end mb-2 score-list'>
      <label class='col-10 col-sm-5 offset-sm-1'><%= t '.balance_score' %></label>
      <div class='col-10 col-sm-6' id='balance-score-<%= post.id %>'></div>
    </div>
  </div>

  <script>
    $('#total-score-<%= post.id %>').empty();
    $('#total-score-<%= post.id %>').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: <%= post.total_score %>,
      scoreName: 'post[total_score]',
    });

    $('#story-score-<%= post.id %>').empty();
    $('#story-score-<%= post.id %>').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: <%= post.story_score %>,
      scoreName: 'post[story_score]',
    });

    $('#graphic-score-<%= post.id %>').empty();
    $('#graphic-score-<%= post.id %>').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: <%= post.graphic_score %>,
      scoreName: 'post[graphic_score]',
    });

    $('#sound-score-<%= post.id %>').empty();
    $('#sound-score-<%= post.id %>').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: <%= post.sound_score %>,
      scoreName: 'post[sound_score]',
    });

    $('#operability-score-<%= post.id %>').empty();
    $('#operability-score-<%= post.id %>').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: <%= post.operability_score %>,
      scoreName: 'post[operability_score]',
    });

    $('#balance-score-<%= post.id %>').empty();
    $('#balance-score-<%= post.id %>').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: <%= post.balance_score %>,
      scoreName: 'post[balance_score]',
    });
  </script>
