<div class='mx-auto score-group'>
    <!--総合評価-->
    <div class='d-flex align-items-center m-0 mt-2 score-list'>
      <label class='col-sm-6 col-4 mb-0 p-0 text-center score-label'><%= t '.total_score' %></label>
      <div class='col-sm-6 col-8 text-center p-0' id='total-score-<%= post.id %>'></div>
    </div>
    <!--ストーリー評価-->
    <div class='d-flex align-items-center m-0 my-2 score-list'>
      <label class='col-sm-6 col-4 mb-0 p-0 text-center score-label'><%= t '.story_score' %></label>
      <div  class='col-sm-6 col-8 text-center p-0' id='story-score-<%= post.id %>'></div>
    </div>
    <!--グラフィック評価-->
    <div class='d-flex align-items-center m-0 my-2 score-list'>
      <label class='col-sm-6 col-4 mb-0 p-0 text-center score-label'><%= t '.graphic_score' %></label>
      <div  class='col-sm-6 col-8 text-center p-0' id='graphic-score-<%= post.id %>'></div>
    </div>
    <!--サウンド評価-->
    <div class='d-flex align-items-center m-0 my-2 score-list'>
      <label class='col-sm-6 col-4 mb-0 p-0 text-center score-label'><%= t '.sound_score' %></label>
      <div class='col-sm-6 col-8 text-center p-0' id='sound-score-<%= post.id %>'></div>
    </div>
    <!--操作性評価-->
    <div class='d-flex align-items-center m-0 my-2  score-list'>
      <label class='col-sm-6 col-4 mb-0 p-0 text-center score-label'><%= t '.operability_score' %></label>
      <div class='col-sm-6 col-8 text-center p-0' id='operability-score-<%= post.id %>'></div>
    </div>
    <!--ゲームバランス評価-->
    <div class='d-flex align-items-center m-0 my-2 score-list'>
      <label class='col-sm-6 col-4 mb-0 p-0 text-center score-label'><%= t '.balance_score' %></label>
      <div class='col-sm-6 col-8 text-center p-0' id='balance-score-<%= post.id %>'></div>
    </div>
  </div>


  <script>
    $('#total-score-<%= post.id %>').empty();
    $('#total-score-<%= post.id %>').raty({
      size: 10,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      readOnly: true,
      score: <%= post.total_score %>,
    });

    $('#story-score-<%= post.id %>').empty();
    $('#story-score-<%= post.id %>').raty({
      size: 15,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      readOnly: true,
      score: <%= post.story_score %>,
    });

    $('#graphic-score-<%= post.id %>').empty();
    $('#graphic-score-<%= post.id %>').raty({
      size: 15,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      readOnly: true,
      score: <%= post.graphic_score %>,
    });

    $('#sound-score-<%= post.id %>').empty();
    $('#sound-score-<%= post.id %>').raty({
      size: 15,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      readOnly: true,
      score: <%= post.sound_score %>,
    });

    $('#operability-score-<%= post.id %>').empty();
    $('#operability-score-<%= post.id %>').raty({
      size: 15,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      readOnly: true,
      score: <%= post.operability_score %>
    });

    $('#balance-score-<%= post.id %>').empty();
    $('#balance-score-<%= post.id %>').raty({
      size: 15,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      readOnly: true,
      score: <%= post.balance_score %>,
    });
  </script>