
<div class='score-group mx-auto'>
    <!--総合評価-->
    <div class='d-flex align-items-center score-list total-score'>
      <label class='col-6 score-label'><%= t '.total_score' %></label>
    </div>
    <!--ストーリー評価-->
    <div class='d-flex align-items-center score-list story-score'>
      <label class='col-6 score-label'><%= t '.story_score' %></label>
    </div>
    <!--グラフィック評価-->
    <div class='d-flex align-items-center score-list graphic-score'>
      <label class='col-6 score-label'><%= t '.graphic_score' %></label>
    </div>
    <!--サウンド評価-->
    <div class='d-flex align-items-center score-list sound-score'>
      <label class='col-6 score-label'><%= t '.sound_score' %></label>
    </div>
    <!--操作性評価-->
    <div class='d-flex align-items-center score-list operability-score'>
      <label class='col-6 score-label'><%= t '.operability_score' %></label>
    </div>
    <!--ゲームバランス評価-->
    <div class='d-flex align-items-center score-list balance-score'>
      <label class='col-6 score-label'><%= t '.balance_score' %></label>
    </div>
  </div>


  <script>
    $('.total-score').raty({
      size: 15,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      readOnly: true,
      score: <%= post.total_score %>,
    });

    $('.story-score').raty({
      size: 15,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      readOnly: true,
      score: <%= post.story_score %>,
    });

    $('.graphic-score').raty({
      size: 15,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      readOnly: true,
      score: <%= post.graphic_score %>,
    });

    $('.sound-score').raty({
      size: 15,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      readOnly: true,
      score: <%= post.sound_score %>,
    });

    $('.operability-score').raty({
      size: 15,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      readOnly: true,
      score: <%= post.operability_score %>
    });

    $('.balance-score').raty({
      size: 15,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      readOnly: true,
      score: <%= post.balance_score %>,
    });
  </script>