<div class='container posts-index'>
  <div class='row mt-5'>
    <div class='col-12 d-flex flex-wrap justify-content-center'>
      <% @posts.each do |post| %>
        <%= link_to post_path(post.id), class: 'ml-3 mb-5 posts-list' do %>
            <div class='form-inline d-flex align-items-center mt-3 title-field'>
              <p class='col-6 text-right mb-0'><%= t '.title' %>：</p>
              <strong><%= post.title %></strong>
            </div>

            <div class='form-inline d-flex align-items-center my-3 genre-field'>
              <p class='col-6 text-right mb-0'><%= t '.genre' %>：</p>
              <strong><%= post.genre.name %></strong>
            </div>
            <%= render 'score_show', post: post %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>