
<div class='container posts-new'>
  <%= render 'shared/error', model: @post %>
  <%= form_with model: @post, local: true do |f| %>
  <div class='row mt-5'>
    <div class='post-new-form mx-auto'>
      <div class='post-new-heading my-4 mx-auto text-center h3'>新しい記録</div>
      <!--ゲームタイトル-->
      <div class='form-group ml-5 mt-5 mb-4'>
        <%= f.label :title %><br>
        <%= f.text_field :title, size: 40 %>
      </div>
      <!--ジャンル-->
      <div class='form-group ml-5 mb-4'>
        <%= f.label :genre %><br>
        <%= f.select :genre_id, @genre_array, { include_blank: 'ジャンルを選択してください' } %>
      </div>

      <!--感想-->
      <div class='form-group ml-5'>
        <%= f.label :body%><br>
        <%= f.text_area :body, size: "55x5" %>
      </div>

      <!--評価グループ-->
      <%= render 'score', f: f %>

      <!--記録作成ボタン-->
      <div class='form-group'>
        <%= f.submit '記録する', class: 'offset-8 btn btn-success' %>
      </div>
    </div>
  </div>
  <% end %>
</div>


