<!DOCTYPE html>
<html>
  <head>
    <title>MyGames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='wrapper'>
      <%= render 'shared/header' %>

      <!--フラッシュメッセージ-->
      <% flash.each do |flash_type, message| %>
        <%= content_tag :div, message, class: "#{flash_type} mx-auto" %>
      <% end %>
      <%= yield %>
      <div class='push'></div>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
